.swiper-container {
  border-radius: 8px;
  cursor: pointer;
}

.swiper-button-next {
  color: #FFBA08 !important;
  margin-right: 42px;
}

.swiper-button-prev {
  color: #FFBA08 !important;
  margin-left: 42px;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #FFBA08 !important;
}